# Extracting Currency from a String

In this exercise, I was given a column of strings.  I was tasked to extract the currency embedded in each string.

**Solution:**  I created a regular expression identifying the currency format, then applied re.findall within a lambda row function to generate a list of currency strings.  A new column was created using the first value in each list.

In [78]:
import pandas as pd
import re

df = pd.read_csv('Workbook1.csv', names=['String'])
df

                             String
0      Ted has $59.00 in his pocket
1     Julio has $1.00 in his pocket
2     Tony has $99.00 in his pocket
3     Fred has $73.00 in his pocket
4   Johnny has $79.00 in his pocket
5  Michael has $80.00 in his pocket
6  Anthony has $40.00 in his pocket
7    Mario has $30.00 in his pocket

In [79]:
# Establishing the regular expression for currency
pattern = '\$\d*\.\d{2}'


# findall returns a list, creating a new column with the first value from list.
df['Amount'] = df['String'].apply(lambda x: re.findall(pattern, x)[0])


# Inspecting the dataframe
df

                             String  Amount
0      Ted has $59.00 in his pocket  $59.00
1     Julio has $1.00 in his pocket   $1.00
2     Tony has $99.00 in his pocket  $99.00
3     Fred has $73.00 in his pocket  $73.00
4   Johnny has $79.00 in his pocket  $79.00
5  Michael has $80.00 in his pocket  $80.00
6  Anthony has $40.00 in his pocket  $40.00
7    Mario has $30.00 in his pocket  $30.00